/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 24/04/2015, 11:35:20 PM
    Author     : Marcelo
*/

html, body{
    height: 100%;
        padding: 0;
    margin: 0;
}

#wrapper {
    height: 100%;
    width: 100%;

    overflow : hidden;
}

#tablero{
    width: 80%;
    height: 100%;
    background: green;
    float: left;
    
}

#score {
    width: 20%;
    height: 100%;
    float: right;
    background: #60607c;    
        
}

#header {
    height : 5%;
    line-height: 5%;
    text-align: center;
}

#preguntas {
    height: 95%;
}

table{
    text-align: center;
    width: 100%; 
    background-color: #003366;
    border-collapse: collapse;
    table-layout: fixed;
}

td, th{
    border: 5px solid black;
}

th{
    color: white;
    height: 10%;
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
}

td.nousada{
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    font-size: 80px;
    color:  #cc9933;
    height: 18%;
    
}

.nousada:hover {
    color:  white;
    cursor: pointer;
}

td.usada {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    font-size: 80px;
    color:  grey;
    height: 18%;
    
}

h1 {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    font-size: 40px;
    
}


#divPregunta{
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    font-size: 55px;
    color: #cc9933;
    
      
}

p {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    font-size: 25px;
}

#divRespuesta{
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    font-size: 55px;
    color: white;
    
      
}

#interfazPreg{
    height: 100%;
    margin: 0;
    padding: 0;
    
    background: #003366;
   
  
}



